htm{
    font-size: 16px;
}
.fs-header{
    background-color: #FC0377;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5rem;
    z-index: 200;
}
.fs-body{
    margin-top: 5rem;
}
.fs-logo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-style: italic;
    text-shadow: .4rem .4rem .8rem #000;
    color: #FFFFFF;
}
.fs-lo-logo{
    padding-left: 20px;
    margin-top: 30px;
}
.fs-menu{
    text-align: right;
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    font-size: 15pt;
    float: right;
    padding-right: 3rem;
}
.fs-menue-text{
    word-spacing: 20px;
}
.fs-menue-icon{
    word-spacing: 20px;
}
.fs-opening {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fs-opening-text {
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.fs-opening-pic-mirror{
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.fs-content{
    margin-top: 128px;
    width: 100%;
}
.fs-you-love-pic{
    height: 8%;
    width: 8%;
    margin-top: 0px;
}
.fs-1opening-text{
    font-weight: bold;
    display: inline;
}
.fs-1opening-text-details{
    font-style: italic;
    display: block;
}
.fs-fave-shop-pic{
    height: 8%;
    width: 8%;
    margin-top: 0px;
}
.fs-2opening-text{
    font-weight: bold;
    display: inline;
}
.fs-2opening-text-details{
    font-style: italic;
    display: block;
}
.fs-safety-pic{
    height: 8%;
    width: 8%;
    margin-top: 0px;
}
.fs-3opening-text{
    font-weight: bold;
    display: inline;
}
.fs-3opening-text-details{
    font-style: italic;
    display: block;
}
.fs-small-icon{
    display: inline-flex;
}
.fs-shop-category{
    text-align: center;
}
.fs-categories{
    list-style: none;
    padding: 0;
    text-align: center;
}
.fs-categories li {
    width: 10rem;
    height: 8rem;
    margin-left: 2rem;
    display: inline-block;
}
.fs-categories li:nth-child(1) {
    margin-left: 0;
}
.fs-categories li img {
    width: 100%;
    /*height: 100%;*/
}
.fs-latest-collection{
    text-align: center;
}
.fs-two-collection{
    list-style: none;
    padding: 0;
    display: inline-block;
}
.fs-two-collection li{
    width: 10rem;
    height: 8rem;
    margin-left: 20rem;
    display: inline-block;
}
.fs-two-collection li img{
    width: 100%;
}
.fs-two-collection li a{
    color: #000;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13pt;
    
}
.fs-two-collection li p{
    color:#d6d6c2;
    font-size: 10pt;    
}
.fs-what-is{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fs-what-is-pic-mirror{
      -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.fs-what-is p{
    text-align: center;
    margin-top: 30%;;
}
.fs-what-is p:nth-child(1){
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.fs-what-is p:nth-child(2){
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.fs-what-is button{
    border-color: #FC0377;
    color: #000
}
.fs-reviews{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.fs-reviews-people li{
    display: inline-block;
    margin-left: 10rem;
}
.fs-name{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.fs-reviews-people li span{
    color: #B8BABA;
}
.fs-review-footer{
    color: #B8BABA;
}
.fs-reviews-people li img{
    width: 8rem;
    height: 8rem;
    display: inline-block;
}
.fs-footer{
    border-top: solid 2px #B8BABA;
}
.fs-footer-list{
    display: inline-block;
    float: none;
    padding-right: 5%;
}
.fs-footer-font{
    font-weight: bold;
}
.fs-footer-tnc{
    text-align: center;
    display: inline;
}

